apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    url: http://prometheus:9090
    access: proxy
    isDefault: true
    jsonData:
      timeInterval: 30s
    editable: true

  - name: Loki
    type: loki
    url: http://loki:3100
    access: proxy
    isDefault: false
    editable: true

  - name: Tempo
    type: tempo
    url: http://tempo:3200
    access: proxy
    isDefault: false
    editable: true

  - name: VictoriaMetrics
    type: prometheus
    url: http://victoria-metrics:8428
    access: proxy
    isDefault: false
    jsonData:
      timeInterval: 15s
    editable: true

  - name: Elasticsearch
    type: elasticsearch
    url: http://elasticsearch:9200
    access: proxy
    isDefault: false
    jsonData:
      esVersion: 8.11.0
      logMessageField: message
      logLevelField: level
      timeField: "@timestamp"
      auth: basic
    basicAuth: true
    basicAuthUser: elastic
    secureJsonData:
      basicAuthPassword: "clisonix123"
    editable: true
